.App {
  text-align: center;
}

.container-blog {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 60.625rem;
  margin:20px auto;
  gap: 10px;
}

.blogHead {
  max-width: 60.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.container-podcast {
  display: flex;
  flex-direction: column;
  max-width: 60.625rem;
  margin:20px auto;
  gap: 10px;
}